---
import "@fontsource-variable/dm-sans";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";

const staff = await getCollection("staff");
---

<html lang="gl">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.webp" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>Tarjetas profesionales - Spiroductos</title>
        <ViewTransitions />
    </head>
    <body class="flex flex-col justify-center items-center">
        <div
            class="w-full sm:w-[600px] flex flex-col gap-5 min-h-[80vh] justify-center"
        >
            {
                staff.map((s) => {
                    const data = s.data;
                    return (
                        <a
                            href={`${import.meta.env.BASE_URL}/${s.collection}/${s.id}`}
                            class="group"
                        >
                            <div class="rounded-xl shadow-md flex flex-row transform transition duration-300 hover:scale-105 group-hover:bg-[#124e91] group-hover:text-[#fff]">
                                <div class="avatar">
                                    <div class="w-24 rounded-full m-2">
                                        <img
                                            src={
                                                import.meta.env.BASE_URL +
                                                `/${data.image}`
                                            }
                                        />
                                    </div>
                                </div>
                                <div class="m-2 ml-5">
                                    <div class="text-xl font-bold text-[#124e91] group-hover:text-[#fff]">
                                        {data.name}
                                    </div>
                                    <div>{data.title}</div>
                                    <div>{data.company}</div>
                                </div>
                                <div class="m-2 ml-5 grid grid-cols-2 md:grid-cols-4 gap-3">
                                    {data.links.map((d) => (
                                        <Icon
                                            name={d.iconName}
                                            class="w-6 h-6 text-[#124e91] group-hover:text-[#fff]"
                                        />
                                    ))}
                                </div>
                            </div>
                        </a>
                    );
                })
            }
        </div>

        <Footer class="flex justify-center items-center py-4" />
    </body>
</html>
