---
import LinkIconButton from "./LinkIconButton.astro";
import { getCollection } from "astro:content";

const allGlobalLinks = await getCollection("cardsGlobalLinks");
allGlobalLinks.sort((a, b) => a.data.order - b.data.order);

const { staffLinks } = Astro.props;
staffLinks?.sort((a, b) => a.order - b.order);
---

<div class="join join-vertical gap-1 w-full">
    {
        staffLinks?.map((data) => {
            return (
                <LinkIconButton
                    href={data.link}
                    iconName={data.iconName}
                    label={data.label}
                />
            );
        })
    }
    {
        allGlobalLinks.map((globLink) => {
            const data = globLink.data;
            return (
                <LinkIconButton
                    href={data.link}
                    iconName={data.iconName}
                    label={data.label}
                />
            );
        })
    }
</div>
